body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    border-radius: 7px;
    width: 100%;
    height: calc(100vh - 16px);
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: hidden;
}

#baixar {
    padding: 10px;
    box-sizing: border-box;
}